<!doctype html>
<html class="">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ตัวแก้ไขโค้ด Python | รอบเรื่องไพทอน</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons@latest/iconfont/tabler-icons.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- installing tailwindcss from cdn, don't do this for production application -->
    <link href="https://unpkg.com/@primer/css@^20.2.4/dist/primer.css" rel="stylesheet" />
    <meta name="title" content="ตัวแก้ไขโค้ด Python ออนไลน์ | รอบเรื่องไพทอน">
    <meta name="description" content="คุณสามารถเขียนภาษา Python ได้บนเว็บไซต์ พร้อมตัวในการดาวน์โหลดไฟล์ .py เพื่อนำไปประยุกต์ใช้ได้ต่อไปในอนาคต พัฒนาโดย wk18k">
    
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://python-editor-web.herokuapp.com/">
    <meta property="og:title" content="ตัวแก้ไขโค้ด Python ออนไลน์ | รอบเรื่องไพทอน">
    <meta property="og:description" content="คุณสามารถเขียนภาษา Python ได้บนเว็บไซต์ พร้อมตัวในการดาวน์โหลดไฟล์ .py เพื่อนำไปประยุกต์ใช้ได้ต่อไปในอนาคต พัฒนาโดย wk18k">
    <meta property="og:image" content="https://cdn.discordapp.com/attachments/372372440334073859/1011128731852603412/Untitled_design.png">
    
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://python-editor-web.herokuapp.com/">
    <meta property="twitter:title" content="ตัวแก้ไขโค้ด Python ออนไลน์ | รอบเรื่องไพทอน">
    <meta property="twitter:description" content="คุณสามารถเขียนภาษา Python ได้บนเว็บไซต์ พร้อมตัวในการดาวน์โหลดไฟล์ .py เพื่อนำไปประยุกต์ใช้ได้ต่อไปในอนาคต พัฒนาโดย wk18k">
    <meta property="twitter:image" content="https://cdn.discordapp.com/attachments/372372440334073859/1011128731852603412/Untitled_design.png">
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="static/python.svg">
    <link rel="icon" type="image/png" sizes="32x32" href="static/python.svg">
    <link rel="icon" type="image/png" sizes="16x16" href="static/python.svg">
    
    <script>
        
    </script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- installing pyodide version 0.19.1 -->
    <script src="https://cdn.jsdelivr.net/pyodide/v0.19.1/full/pyodide.js"></script>
    <!-- importing codemirror stylings -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.min.css" />
    <!-- installing codemirror.js version /5.63.3 from cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.3/codemirror.min.js"
        integrity="sha512-XMlgZzPyVXf1I/wbGnofk1Hfdx+zAWyZjh6c21yGo/k1zNC4Ve6xcQnTDTCHrjFGsOrVicJsBURLYktVEu/8vQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- installing codemirror python language support -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.3/mode/python/python.min.js"
        integrity="sha512-/mavDpedrvPG/0Grj2Ughxte/fsm42ZmZWWpHz1jCbzd5ECv8CB7PomGtw0NAnhHmE/lkDFkRMupjoohbKNA1Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- import codemirror dracula theme styles from cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.3/theme/dracula.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.1/js.cookie.min.js"></script>
    <!-- import font google kanit -->
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <style>
        /* set codemirror ide height to 100% of the textaread */
        .CodeMirror {
            height: 100%;
        }

        #title,.blankslate,#output {
            font-family: 'Kanit', sans-serif;
        }
    </style>
</head>

<body class="color-bg-subtle">
    <nav class="UnderlineNav UnderlineNav--right" style="background-color:#22272e !important" aria-label="Foo bar">
        <div class="UnderlineNav-actions">
            <a href="https://watchakorn-18k.github.io/around-python-website/">
            <h3 class="color-fg-on-emphasis pl-3" id="title" >รอบเรื่องไพทอน</h3></a>
        </div>
        <div class="UnderlineNav-body">
            <a href="https://github.com/watchakorn-18k/python_editor_on_website" id="repo" target="_blank">
                <svg aria-hidden="true" role="img" class="color-fg-on-emphasis" viewBox="0 0 16 16" width="32" height="32" fill="currentColor" style="display: inline-block; user-select: none; vertical-align: text-bottom; overflow: visible;"><path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path></svg>
            </a>
        </div>
      </nav>

      <div class="blankslate">
        <img src="static/python.svg" class="logo-python" class="blankslate-image" />
        <h3 class="blankslate-heading">ใช้งาน Python บนเว็บไซต์</h3>
        <p>คุณสามารถเขียนภาษา Python ได้บนเว็บไซต์ได้เลย ฝั่งซ้ายคือช่องสำหรับเขียนโค้ด ฝั่งขวาคือช่องสำหรับแสดงผลของโปรแกรม</p>
      </div>

    <div class="container-lg clearfix ">
        <form>
            <div class="form-group">
                <div class="form-group-body">
                  <input class="form-control input-lg" style="font-family: Kanit;" type="text" name="file-name" id="box-name-file"/>
                  <button class="btn tooltipped tooltipped-ne tooltipped-align-left-1 tooltipped-no-delay" aria-label="กดเพื่อแก้ไขชื่อไฟล์ตามช่องด้านซ้าย" type="button" onclick="Rename()">
                    <!-- <%= octicon "pencil" %> -->
                    <svg class="octicon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" d="M11.013 1.427a1.75 1.75 0 012.474 0l1.086 1.086a1.75 1.75 0 010 2.474l-8.61 8.61c-.21.21-.47.364-.756.445l-3.251.93a.75.75 0 01-.927-.928l.929-3.25a1.75 1.75 0 01.445-.758l8.61-8.61zm1.414 1.06a.25.25 0 00-.354 0L10.811 3.75l1.439 1.44 1.263-1.263a.25.25 0 000-.354l-1.086-1.086zM11.189 6.25L9.75 4.81l-6.286 6.287a.25.25 0 00-.064.108l-.558 1.953 1.953-.558a.249.249 0 00.108-.064l6.286-6.286z"></path></svg>
                  </button>
                </div>
              </div>
          </form>
        <!-- space -->
        <div class="space"></div>
        <div class="col-6 float-left p-12">
            <!-- our code editor, where codemirror renders it's editor -->
            <textarea id="code" name="code" class="color-shadow-small p-3"></textarea>
        </div>
        <div class="col-6 float-left p-12 ">
            <!-- output section where we show the stdout of the python code execution -->
            <textarea readonly class="color-shadow-small p-3" id="output" name="output"></textarea>
        </div>
        <div class="blankslate">
            <div class="blankslate-action">
                <button onclick="evaluatePython()" type="button" id="run" class="btn btn-outline tooltipped tooltipped-sw tooltipped-align-right-1 tooltipped-no-delay" aria-label="กดเพื่อให้คำสั่งที่เขียนทำงานและแสดงผลที่ช่องด้านขวา"><i class="ti ti-caret-right"></i> เรียกใช้</button>
                <button onclick="clearHistory()" type="button" id="clear" class="btn btn-danger tooltipped tooltipped-se tooltipped-align-left-1 tooltipped-no-delay" aria-label="กดเพื่อลบสิ่งที่แสดงผลไว้ก่อนที่ช่องด้านขวา"><i class="ti ti-rotate"></i> ล้างประวัติโค้ด</button>
                <button class="btn btn-primary mr-2" type="button" id="Downloadpy" onclick="DownloadPy()">
                    <!-- <%= octicon "download" %> -->
                    <svg class="octicon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" d="M7.47 10.78a.75.75 0 001.06 0l3.75-3.75a.75.75 0 00-1.06-1.06L8.75 8.44V1.75a.75.75 0 00-1.5 0v6.69L4.78 5.97a.75.75 0 00-1.06 1.06l3.75 3.75zM3.75 13a.75.75 0 000 1.5h8.5a.75.75 0 000-1.5h-8.5z"></path></svg>
                    <span>ดาวน์โหลดไฟล์</span>
                  </button>
            </div>
        </div>
    </div>
    <div class="toast-bar" style="display: none;">
        <div class="p-1">
            <div class="Toast Toast--success">
              <span class="Toast-icon">
                <!-- <%= octicon "check" %> -->
                <svg width="12" height="16" viewBox="0 0 12 16" class="octicon octicon-check" aria-hidden="true">
                  <path fill-rule="evenodd" d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5L12 5z" />
                </svg>
              </span>
              <span class="Toast-content" style="font-family: Kanit;">เปลี่ยนชื่อไฟล์เรียบร้อย</span>
            </div>
          </div>
    </div>

    <style>
        .CodeMirror.cm-s-dracula,#output {
    /* height respotive px */
    height: 40rem;
    width: 30rem;
    font-size: 20px;
    border-radius: 10px;
    background-color: #282a36 !important
}
    #output{
        padding-left: 0px 29px;
        padding-top: 0px !important;
        
    }
    #output:focus,#output{
    outline: none !important;
    border:1px solid #282a36;
    resize: none;
    color: aliceblue;
    
    }
    .blankslate {
    position: relative;
    padding: 17px;
    text-align: center;
}
h3#title {
    padding: 10px;
}
#repo{
    padding: 10px;
}
.space{
    padding: px;
}
#box-name-file{
    width: 15rem;
}
.toast-bar{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

    </style>
    <script>
        let counter = 0;
        let loop2 = setInterval(function(){
            counter++;
            checkValue()
            if (counter == 20){
                console.log(counter);
                clearInterval(loop2)
            }
                
        },1);
        checkValue = () =>{
            if ( $('input[name="file-name"]').val() === '' ) {
            $('input[name="file-name"]').val(Cookies.get('name_file'));
        }
        }
   
    </script>

    <script src="/static/js/main.js"></script>
</body>

</html>